[TOC]

## 1 版本日志

版本 |  修订日期   |  修订者 |  修订内容
---  | ---        | ---    | ---
v0.2 |            | xxxx   |
v0.1 | 2018-02-28 | 伍张发  |  创建文档

## 2 版本状态

开发中

**完成度**：![5%](http://progressed.io/bar/5)


## 3 枚举类型

### 颜色(Color)

定义颜色说明

枚举名称  | 枚举值  | 字段说明
---      | ---     | ---
Red      | 1      | 红色
Blue     | 2      | 蓝色
Green    | 3      | 绿色


## 4 数据库字典

### 颜色配置表(cfg_color)

储存日常任务活动相关信息。

|字段|类型|空|默认|注释
|:----    |:-------    |:--- |-- -|------
|id	      |bigint(20)  |否	|	 |  主键
|color    |tinyInt(1)  |否	|    |  颜色枚举`Color`
|name     |varchar(50) |否   |    |  名称
|time     |datetime    |是   |    |  创建时间


